  <link href="~/css/nav.css" rel="stylesheet">

<!-- Header-->
    <div class="navbar">
      <a class="logo" title="WhaleSports" href="@Url.Action("Index","Home")">
        <div class="logo">
          <div class="logo-container">
            <span class="logo-text">WhaleSports</span>
            <img alt="Gymshark" data-locator-id="header-logo-select" src="~/css/Images/Logo_WS_btn.png" decoding="async" data-nimg="fixed" class="logo-img">
          </div>
        </div>
      </a>
      <nav>
        <a class="lng-generoM" href="#">Hombre</a>
        <a class="lng-generoF" href="#">Mujer</a>
        <a class="lng-accesorio" href="#">Accesorios</a>
      </nav>
      
      <div class="icons">
        <div class="search-bar">
            <input class="lng-buscador" type="text" placeholder="Buscar producto...">
            <button><i class="fas fa-search"></i></button>
        </div>
        <i class="fa fa-user"></i>
        <i class="fa fa-shopping-bag"></i>
      </div>
    </div>