
@{
    ViewBag.Title = "WhaleSports | Confirmación de Correo";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WhaleSports | Confirmación de Correo</title>
    <link rel="stylesheet" href="~/css/rescon.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<div class="container" style="width: 1520px;">
    <div class="image-side">
        <img src="/css/Images/Banners/Banner_WS_Negro_Grande.png" alt="WhaleSports Banner" />
    </div>

    <div class="form-side">
        <div class="logo">
            <img src="/css/Images/Logo_WS.png" alt="WhaleSports Logo" />
            <h1>WhaleSports</h1>
        </div>
        @if (ViewBag.Invalido != "TokenInvalido")
                {
                    <script>
                        Swal.fire({
                            icon: 'success',
                            title: 'Confirmación exitosa',
                            text: 'Gracias por confirmar su correo, ya puede hacer uso de su nueva cuenta en WhaleSports.'
                        })
                    </script>
                    <div class="alert-container">
                        <h2 style="color: #28a745; text-align: center;">Confirmación exitosa</h2>
                        <p style="margin-bottom: 20px;">
                            Gracias por confirmar su correo, ya puede hacer uso de su nueva cuenta en WhaleSports.
                        </p>
                    </div>
                    <div class="alert alert-danger" role="alert" style="margin-bottom: 15px;">
                        @ViewBag.Correcto
                    </div>
                }
        else{
            <script>
                Swal.fire({
                            icon: 'error',
                            title: 'Token inválido',
                            text: 'Este enlace para confirmar su correo ha caducado o es inválido.'
                        })
            </script>
            <div class="alert-container">
                <h2 style="color: #d9534f; text-align: center;">Token inválido</h2>
                    <p style="margin-bottom: 20px;">
                        Este enlace para confirmar su correo ha caducado o es inválido.
                    </p>
            </div>
        }
        
    </div>
</div>
