@model Usuario
@{
    ViewData["Title"] = "SignUp";
}
<head>
    <meta charset="UTF-8">
    <title>SignUp | WhaleSports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/auth.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="login-container">
        <div class="login-image">
            <img src="~/css/Images/Banners/Banner_WS_Negro_Grande.png" alt="WhaleSports Banner" />
        </div>
        <div class="login-form">
            <div class="form-wrapper">
                <div class="logo">
                    <img src="/css/Images/Logo_WS.png" alt="WhaleSports Logo" />
                    <h1>WhaleSports</h1>
                </div>
                <div class="form-switch">
                    <a href="#" class="active" id="login-form-link">Iniciar sesión</a>
                    <a href="#" id="register-form-link">Registrarse</a>
                </div>
                
                <form asp-action="SignUp" method="post" id="register-form" role="form" style="display:block">
                    <div asp-validation-summary="ModelOnly" class="validation-summary"></div>
                    <div class="form-group">
                        <input asp-for="Nombre" class="form-control" type="text" pattern="[A-Za-z]{3,20}" name="Nombre" placeholder="Nombre*" required/>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Apellidos" class="form-control" type="text" pattern="[A-Za-z \u00E0-\u00FC ]{4,20}" name="Apellidos" placeholder="Apellidos*" required />
                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Telefono" class="form-control" type="text" pattern="[0-9]{10,10}" minlength="10" maxlength="10" placeholder="Teléfono" required />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Correo" class="form-control" type="email" name="Correo" placeholder="Correo*" required/>
                        <span asp-validation-for="Correo" class="text-danger" style="text-align: center; font-size: small; color: red"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" name="Contraseña"
                         pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}"
                         title="Debe contener al menos 8 digitos incluyendo mayúsculas, minúsculas y un número" 
                         data-translation="login.password.placeholder"
                         placeholder="Contraseña*" required />                    
                    </div>
                <div class="form-group">
                <input asp-for="ConfirmContra" type="password" name="ConfirmContra" placeholder="Confirmar contraseña*" required />
                <span asp-validation-for="ConfirmContra" class="text-danger" style="display: block; text-align: center; font-size: small; color: red;"></span>
                </div>
                @if (ViewBag.RegistroCorrecto != null)
                {
                    <div class="alert alert-danger" role="alert" style="margin-bottom: 15px;">
                        @ViewBag.RegistroCorrecto
                        @ViewBag.RegistroError
                    </div>
                }
                <button type="submit" onclick="javascript:confirmar()" name="Registrarse">Registrarse</button>
            </form>
            @if(ViewBag.RegistroCorrecto  == "Registrado correctamente.")
            {<script>
        Swal.fire({
            icon: 'success',
            title: '¡Registro Exitoso!',
            text: 'Se ha realizado su registro correctamente. Se le ha enviado un correo de confirmación.',
            confirmButtonText: ' Ok ',
            background: '#f4f4f4',
            color: '#333',
            iconColor: '#28a745',
            customClass: {
                popup: 'mi-alerta-popup',
                title: 'mi-alerta-titulo',
                confirmButton: 'mi-alerta-boton'
                }
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("LogIn", "Home")';
            }
        });
    </script>
    }else if (ViewBag.RegistroError == "Error al enviar el correo electrónico"){
                <script>
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al Registrarse',
                        text: 'Nombre ha sido podido realizar el registro. Por favor, inténtelo de nuevo más tarde.',
                        confirmButtonText: 'Ok',
                        background: '#f4f4f4',
                        color: '#333',
                        iconColor: '#dc3545',
                        customClass: {
                            popup: 'mi-alerta-popup',
                            title: 'mi-alerta-titulo',
                            confirmButton: 'mi-alerta-boton'
                        }
                    });
                </script>
    }
            <form asp-action="LogIn" method="post" role="form" id="login-form" style="display:none">
                <div class="form-group">
                    <label>Correo electrónico</label>
                    <input autocomplete="username" type="email" id="correo" name="Correo" placeholder="ejemplo@correo.com" required />
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" id="contraseña" name="Contraseña" placeholder="********" required />
                </div>
                <div class="btn-group">
                    <button type="submit">Iniciar sesión</button>
                    @* <a href="/Home/RecuperarContrasena"></a> *@
                </div>
            </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("login-form-link").addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById("login-form").style.display = "block";
            document.getElementById("register-form").style.display = "none";
            this.classList.add("active");
            document.getElementById("register-form-link").classList.remove("active");
        });
        document.getElementById("register-form-link").addEventListener("click", function (e) {
            e.preventDefault();
            document.getElementById("register-form").style.display = "block";
            document.getElementById("login-form").style.display = "none";
            this.classList.add("active");
            document.getElementById("login-form-link").classList.remove("active");
        });
    </script>
</body>