@model WS_2_0.Models.EditarAdministradorViewModel
@{
    ViewData["Title"] = "EditarAdministrador";
}

<div class="card">
    <div class="card-header">
        Editar Administrador
    </div>
    <div class="card-body">

        <form asp-action="EditarAdministrador" asp-controller="Administrador" method="post">
            <input asp-for="idAdministrador" type="hidden" class="form-control">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre</label>
                        <input asp-for="Nombre" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Apellidos</label>
                        <input asp-for="Apellido" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Correo</label>
                        <input asp-for="Correo" type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Telefono</label>
                        <input asp-for="Telefono" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RolAdminId" class="control-label"></label>
                    @Html.DropDownListFor(model => model.RolAdminId, Model.RolesDisponibles, "-- Selecciona un rol --", new { @class = "form-control" })
                    <span asp-validation-for="RolAdminId" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Confirmar</button>
                <a asp-action="Administradores" asp-controller="Administrador" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>