@model Administrador
@{
    ViewData["Title"] = "AdmGuardar";
}
<div class="card">
    <div class="card-header">
        Crear Administrador
    </div>
    <div class="card-body">

        <form asp-action="GuardarEmpleado" asp-controller="Administrador" method="post">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre</label>
                        <input asp-for="Nombre" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Apellidos</label>
                        <input asp-for="Apellido" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Correo</label>
                        <input asp-for="Correo" type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Contraseña</label>
                        <input asp-for="Contraseña" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Telefono</label>
                        <input asp-for="Telefono" type="text" class="form-control">
                    </div>
                </div>
                <select asp-for="RolAdminId" asp-items="@(new SelectList(ViewBag.Roles, "Id", "Nombre"))" class="form-control">
                    <option value="">Seleccione un rol</option>
                </select>

                <select asp-for="RolAdminId" asp-items="Model.RolesDisponibles" class="form-control">
                    <option value="">Seleccione un rol</option>
                </select>
                <button type="submit" class="btn btn-primary">Crear</button>
                <a asp-action="Empleados" asp-controller="Administrador" class="btn btn-danger">Cancelar</a>
            </form>
        </form>
    </div>
</div>