@Html.AntiForgeryToken()
@{
    var id = Context.Session.GetInt32("idAdministrador");
    if (id == null)
    {
        Context.Response.Redirect("/Home/LogIn");
    }
}
@{
    ViewData["Title"] = "Administrador | WhaleSports";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrador | WhaleSports</title>
    <link rel="stylesheet" href="~/css/administrador.css" />
</head>
    <header>
        <!-- TopBar -->
        <partial name="_TopBarAdministrador"/>
        <!-- SideBar-->
        <partial name="_SideBar"/>
    </header>
<body>

    <p>Bienvenido</p>
    <script src="/js/admin.js" asp-append-version="true"></script>
    <script src="/js/eliminarCache.js"></script>
</body>